<!DOCTYPE html>
<html lang="pt" xmlns:th="www.thymelaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>ClickFood</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<script>
	function preencherModal(nome, tempo, serve, kcal, preparo, url) {
		document.getElementById('receita-nome').innerHTML = nome;
		document.getElementById('receita-tempo').innerHTML = 'Tempo: ' + tempo;
		document.getElementById('receita-serve').innerHTML = 'Serve: ' + serve;
		document.getElementById('receita-kcal').innerHTML = 'Kcal: ' + kcal;
		document.getElementById('receita-preparo').innerHTML = 'Mode de preparo: ' + preparo;
		document.getElementById('receita-url').src = url;
		$('#exampleModal').modal('toggle');
	}
</script>
<body>
	<div th:replace="base :: navlinks"></div>
	<h2 style="text-align: center">Receitas</h2>
	<div class="row justify-content-around  ">
		<tbody>
			<!-- PREENCHENDO A TABELA COM AS RECEITAS-->
			<th:block th:each="receita : ${receitas}">
				<div class="card mb-3" style="max-width: 540px;">
					<!-- Inicio card receita -->
					<div class="row g-0">
						<div class="col-6 col-md-4">
							<img th:src="@{${receita.url}}" width="100%" heigth="100%">
						</div>
						<div class="col-md-8">
							<div>
								<div class="card-body">
									<h5 class="card-title">
										<p th:text="${receita.nome}"></p>
									</h5>
									<button type="button" class="btn btn-primary" th:data-nome="${receita.nome}"
										th:data-tempo="${receita.tempo}" th:data-serve="${receita.serve}"
										th:data-kcal="${receita.kcal}" th:data-preparo="${receita.preparo} "
										th:data-url="${receita.url}"
										th:onclick="preencherModal(this.getAttribute('data-nome'),this.getAttribute('data-tempo'),this.getAttribute('data-serve'),this.getAttribute('data-kcal'), this.getAttribute('data-preparo'), this.getAttribute('data-url'))"
										style=" width: 35%; height: 20%;">ver
										mais</button>
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel"
										aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="receita-nome"></h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<img id="receita-url" src=" url'" width="100% " height="50%">
													<p class="card-text" id="receita-tempo"></p>
													<p class="card-text" id="receita-serve"></p>
													<p class="card-text" id="receita-kcal"></p>
													<p class="card-text" id="receita-preparo"></p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
									<!-- Fim Modal -->
								</div>
							</div>
						</div>
					</div>
				<!-- Fim card receita -->
				</div>
			</th:block>
		</tbody>
	</div>
	<div th:replace="base :: footer"></div>
	</div>
</body>

</html>
